/* .score {
    text-align: left;
}

.timer {
    text-align: right;
    float: right;
} */

.nav-link {
    color: indigo;
}

.mx-auto {

    border-top: indigo;

}
main {
    align-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.question {
    align-content: center;
    text-align: center;
}
.answers {
    align-content: center;
    text-align: center;
}
.buttons {
    align-content: center;
    text-align: center;
}
footer {
    align-content: center;
    text-align: center;
}

ul {
    list-style-type: none;
}